@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{

    background: url(../imagens/fundo-madeira.jpg) no-repeat top center; /*adicionar imagem nao repetir e fixar no topo e centro*/
    background-size: cover;
    background-attachment: fixed; /*fixar a imagem do fundo*/
}
main{
    position: relative;
    height: 100vh;
    
}
section#telefone{
    position: absolute;
    width: 311px;
    height: 627px;                                                                                                                                                                                                                                                                                                                                                                                                                                                   
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url(../imagens/frame-iphone.png) no-repeat;
}
iframe#tela{
    
    position: relative;
    left: 23px;
    top: 81px;
    width: 265px;
    height: 470px;
}
section#redes-sociais{
    text-align: right;
}
section#redes-sociais img{
    margin: 10px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #0000005d;
    box-sizing: border-box;/*para a borda fazer parte da imagem*/
}
section#redes-sociais img:hover{
    border: 1px solid white;
    transform: translate(-3px,-3px); /*para ele arrastar pro lado quando passar o mouse*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.719);
    transition: transform -3; /* a duração em segundos que o botao ou qualquer elemento vai fazer */
}
